<h1 style="color:rgb(0, 159, 237)">GIF 2017 探索力论坛概况</h1>
<h2 style="color:rgb(0, 159, 237)">认知：</h2>
<p>不谈商业模式，聚焦前沿科技的进展和极限。</p>
<br />
<h2 style="color:rgb(0, 159, 237)">进展：</h2>
<p>等待当期确认：Antonio Torralba，CSAIL，机器视觉领域，近期研究出通过深度学习模拟出真假难辨的声音。</p>
<h2 style="color:rgb(0, 159, 237)">拟邀嘉宾：</h2>
<h2 style="color:rgb(0, 159, 237)">国外：</h2>
<ul>
<li>黄仁勋  |  英伟达 创始人  CEO 张鹏</li>
<li>Rony Abovitz  |  Magic Leap 创始人  CEO 郑鑫</li>
<li>Stephen Wolfram  |  Wolfram Alpha 创始人  CEO</li>
<li>Astro Teller  |  X(Google X) 负责人 郑鑫</li>
<li>Demis Hassabis  |  DeepMind CEO 郑鑫</li>
<li>Jeff Dean  |  Google Brain 负责人 郑鑫</li>
<li>Lior Ron  |  Otto 联合创始人 周恒星</li>
<li>Andrew Moore  |  卡耐基梅隆大学计算机学院 院长 郑鑫</li>
<li>Antonio Torralba | MIT</li>
<li>Oculus mandy </li>
<li>Meta 郑鑫</li>
<li>IMAX  郑鑫</li>
<li>MIT 量子计算 郑鑫</li>
<li>MIT Media Lab 郑鑫</li>
<li>Magic Leap 郑鑫 诺亦腾</li>
<li>HoloLens 张鹏</li>
<li>杨培东 | UCBurkley mandy</li>
<li>李飞飞 | Google AI罗松</li>
</ul>
<h2 style="color:rgb(0, 159, 237)">国内：</h2>
<ul>
<li>王孟秋 | hovercamera 芋头</li>
<li>Steven Mollenkopf  |  高通 CEO 芋头</li>
<li>陆金所 大数据风控 丞宇</li>
<li>出门问问 语音订单 芋头</li>
<li>今日头条 机器判断阿方</li>
<li>搜狗  及时听写 孙伟</li>
<li>优必选 央视春晚 阿方</li>
<li>face++ 马云德国刷脸支付 芋头</li>
<li>Antonio Torralba | MIT</li>
<li>九天微星 低轨道微信 自拍 娱乐 中科创星先导院推荐项目</li>
<li>丽恒光微 单芯片集成气压计和热敏探测器 红外热像仪 中科创星先导院推荐项目</li>
<li>超维景生物 超快光纤激光器作为光源 高分辨率在体荧光成像手段</li>
<li>日跃星（无线传输）中科创星先导院推荐项目</li>
<li>三角兽</li>
<li>wegene</li>
</ul>
<h2 style="color:rgb(0, 159, 237)">创新想法：</h2>
<ul>
<li>hovercamera： 类似于 Raffaello D’Andrea 在 TED 的无人机萤火虫演讲</li>
<li>face++： 搭建摄像头识别现场全场人数，反投在大屏幕上</li>
<li>搜狗： 在人工智能领域的深入环节，不仅是语音输出的展示</li>
</ul>










##<%= link_to 'My Blog', controller: 'articles' %>