<h1>here we go </h1<h1>Hello, Rails!</h1>
<h1>I think I need to find a place to store a pic</h1>
<img src="http://redirect04.sogou.com/proxy?url=aHR0cDovL2hpcGhvdG9zLmJhaWR1LmNvbS9iYWlkdS9waWMvaXRlbS9hZTUxZjNkZWI0OGY4YzU0MWQyMGY4YTEzODI5MmRmNWUxZmU3ZjQ4LmpwZw==&md5=11eb416c82a1d793d8514ded440f9661">

<%= link_to 'My Blog', controller: 'articles' %>